<div class="row">
  <div class="col s7">
    <a href="#">Login via google</a>
    <a href="#">Login via twitter</a>
  </div>
  <div class="col s5">
    <form>
      <div class="login-input__wrapper">
        <div class="input-field col s12">
          <label for="input-login">Login</label>
          <input id="input-login" type="text" class="validate" />
        </div>

        <div class="input-field col s12">
          <label for="input-password">Password</label>
          <input id="input-password" type="password" class="validate" />
        </div>

        <div class="input-field col">
          <button class="btn waves-effect waves-light right" type="submit" name="action">
            Submit<i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>